<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<h3 class="text-center">
                    Kick-Start-Up
                </h3>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
                The Kick-Start-Up application will allow potential start-up companies and application enthusiast to find a suitable team to help make their ambitions come true.
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" target="_blank">Learn more</a>
			</p>
		</div>
	</div>

</section>