<section data-ng-controller="HomeController" style="background-image: url(../../core/img/brand/homepage.jpg)">
	<div class="jumbotron">
		<h1>Welcome to Kick-Start-Up!</h1>
		<p>Kick-Start-Up is an online system for those start-up companies (startups) with vacant positions to find their matching applicant fast and reliable. First, startups register their information and position to look for on the website, with detailed description of responsibilities and expectations. Applicants will create profile of themselves, much like an online resume, after that, they will gain access to the system apply for the job. Startups will have the ability to review applicants’ profile and pick suitable one for them. Once they start collaborating, applicant will be joining in the internal social networking system, where they can discuss, rate, help to improve their employer.
		</p>
		<p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-sm-2">
					<h1 class="pull-right">
						<button type="button" class="btn btn-success">
							<i class="glyphicon glyphicon-user"></i>
						</button>
					</h1>
				</div>
				<div class="col-sm-10">
					<h1>3,421</h1>
					<span class="text-muted">Total Applicants</span>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-sm-2">
					<h1 class="pull-right">
						<button type="button" class="btn btn-info">
							<i class="glyphicon glyphicon-tasks"></i>
						</button>
					</h1>
				</div>
				<div class="col-sm-10">
					<h1>1,124</h1>
					<span class="text-muted">Active Jobs</span>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-sm-2">
					<h1 class="pull-right">
						<button type="button" class="btn btn-warning">
							<i class="glyphicon glyphicon-user"></i>
						</button>
					</h1>
				</div>
				<div class="col-sm-10">
					<h1>3,421</h1>
					<span class="text-muted">Total Employers</span>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<div class="col-sm-2">
					<h1 class="pull-right">
						<button type="button" class="btn btn-danger">
							<i class="glyphicon glyphicon-ok"></i>
						</button>
					</h1>
				</div>
				<div class="col-sm-10">
					<h1>1,124</h1>
					<span class="text-muted">Kick-Started-Ups</span>
				</div>
			</div>
		</div>
	</div>

	<div class="text-center">
		<br>Enjoy &amp; Keep Us Updated,
		<br>The Kick-Start-Up Team.
	</div>
</section>
