<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center" style="font-family: 'Open Sans', sans-serif;color: #5c6166;font-weight:900;">
		Sign in using your social accounts</h3>
	<div class="col-md-12 text-center">
		<a href="/auth/github" class="undecorated-link">
			<img src="/modules/users/img/buttons/github.png">
		</a>
	</div>
	<h3 class="col-md-12 text-center" style="font-family: 'Open Sans', sans-serif;color: #5c6166;font-weight:900;">
		Or with your account</h3>

	<div class="row">
		<div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
			<div style="margin-top:40px;margin-bottom:30px;background: #FFF;border-radius: 10px;-webkit-border-radius:10px;-moz-border-radius: 10px;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);">
				<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
					<fieldset style="padding: 30px;background: #F8F8F8;border-radius: 6px;margin-bottom: 15px;">
						<div class="form-group">
							<label for="username" style="color: #0b86c3;">Username</label>
							<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username">
						</div>
						<div class="form-group">
							<label for="password" style="color: #0b86c3;">Password</label>
							<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password">
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-primary">Sign in</button>&nbsp; or&nbsp;
							<a href="/#!/signup">Sign up</a>
						</div>
						<div class="forgot-password" style="text-align:center;">
							<a href="/#!/password/forgot">Forgot your password?</a>
						</div>
						<div data-ng-show="error" class="text-center text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</section>