<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="ng-cloak">
	<header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-default"></header>
	<section class="content">
		<section class="container">
            {% block content %}{% endblock %}
		</section>

        <!-- page footer begin -->
        <div id="footer" class="footer" style="font:12pt Georgia;color:#f2f2f2;margin-top:60px;margin-bottom:-150px;clear:both;">
            <div class="sloganWrap" style="position:relative; background:#0B86C3; box-shadow:2px 2px 3px rgba(0,0,0,0.5);">
                <div id="slogan" style="text-align:center;margin:auto;width:500px;letter-space:2px;text-shadow:1px 1px 3px rgba(0,0,0,0.5);line-height:36px;font-size:46px">
                    Join us and start your projects here
                </div>
            </div>
            <div class="lookWrap" style="postion:relative;align:center;width:100%;">
                <div id="look" style="margin:auto;width:700px;">

                    <div class="section" style="overflow:hidden;float:left;display:inline;width:180px;margin:0  15px 15px 0;font:10px verdana;line-height:1.6em;text-align:center;">
                        <h3 style="font-weight:normal;font-size:12pt Georgia;text-transform:uppercase;color:#ABABAB;">About Us</h3>
                        <a href='/#!/about_page' style="color:#BEBEBE;text-decoration:none;dispaly:block;">About Website<br></a>
                        <a href='/#!/about_us' style="color:#BEBEBE;text-decoration:none;dispaly:block;">Our Team<br></a>
                    </div>

                    <div class="section" style="overflow:hidden;float:left;display:inline;width:180px;margin:0  15px 15px 0;font:10px verdana;line-height:1.6em;text-align:center;">
                        <h3 style="font-weight:normal;font-size:12pt Georgia;text-transform:uppercase;color:#ABABAB;">Support</h3>
                        <a href='/#!/contact_us' style="color:#BEBEBE;text-decoration:none;dispaly:block;">Contact Us<br></a>
                        <a href='/#!/privacy_policy' style="color:#BEBEBE;text-decoration:none;dispaly:block;">Privacy Policy<br></a>
                        <a href='/#!/term_of_use' style="color:#BEBEBE;text-decoration:none;dispaly:block;">Term of Use</a>
                    </div>

                    <div class="section" style="overflow:hidden;float:left;display:inline;width:180px;margin:0  15px 15px 0;font:10px verdana;line-height:1.6em;text-align:center;">
                        <h3 style="font-weight:normal;font-size:12pt Georgia;text-transform:uppercase;color:#ABABAB;">Follow Us</h3>
                        <a href="https://www.facebook.com" style="color:#BEBEBE;text-decoration:none;dispaly:block;"><img src="modules/core/img/element/facebook_footer.png" style="width:15px;height:15px;"></img>&nbsp;Facebook<br></a>
                        <a href="https://www.twitter.com" style="color:#BEBEBE;text-decoration:none;dispaly:block;"><img src="modules/core/img/element/twitter_footer.png" style="width:15px;height:15px;"></img>&nbsp;Twitter<br></a>
                        <a href="https://plus.google.com" style="color:#BEBEBE;text-decoration:none;dispaly:block;"><img src="modules/core/img/element/google_footer.gif" style="width:15px;height:15px;"></img>&nbsp;Google<br></a>
                        <a href="https://www.linkedin.com" style="color:#BEBEBE;text-decoration:none;dispaly:block;"><img src="modules/core/img/element/linkedin_footer.png" style="width:15px;height:15px;"></img>&nbsp;Linkedin<br></a>
                    </div>

                    <div class="section" style="overflow:hidden;float:left;display:inline;width:180px;margin:0  15px 15px 0;font:10px verdana;line-height:1.6em;text-align:center;">
               
                        <a href='/#!/project_page' style="color:red;text-decoration:none;dispaly:block;">Project Page(remove later)<br></a>
                        <a href='/#!/search_result_list' style="color:red;text-decoration:none;dispaly:block;">Search Result List(remove later)<br></a>
                        <a href='/#!/chat_page' style="color:red;text-decoration:none;dispaly:block;">Chat Page(if we have chat feature)<br></a>
                        <a href='/#!/search_bar' style="color:red;text-decoration:none;dispaly:block;">Styled Search Bar<br></a>
                    </div>
                </div>
            </div>
            <div class="legality" style="margin:auto;width:700px;text-align:center;clear:both;font:10px verdana;line-height:2em;padding:40px 0 0 0;color:#ABABAB;">
                &copy;Copyright 2015 &nbsp; Kick-Start-Up Team. All rights reserved.
            </div>
        </div>
	</section>

	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>

	<!--Application JavaScript Files-->
	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %} 

	{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<script type="text/javascript" src="http://{{request.hostname}}:35729/livereload.js"></script>
	{% endif %}
</body>

</html>