<section data-ng-controller="SettingsController" data-ng-init="findOne()" data-ng-init="findArticles()" style="margin-top:20px;">
    <div class="container">
        <div class="row" ng-hide="true" style="background-color: rgba(60, 60, 60, 0.4)">
            <div class="col-md-2">
                <img src="modules/core/img/element/avatar.gif" class="img-rounded"  width="155" height="155">
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6 text-left well" style="font-family: 'Open Sans', sans-serif; font-weight: 400; color: #fff; ">
                        <div style="background-color: black" class="col-xs-6 text-center">
                            {{profile.displayName}}
                        </div>
                        <div class="col-xs-6">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="well">3</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="well">4</div>
                    </div>
                    <div class="col-md-6">
                        <div class="well">5</div>
                    </div>
                </div>
            </div>
        </div>
    <div id="user_header" class="row" style="width: 820px; height: 150px; margin-left:2px;margin: 0 auto;">
        <div id="user" style="width: 750px; height: 150px; float: left;">
            <div id="user_picture" style="float: left; padding-right: 20px;">
                <div id="picture_box">
                    <a href="">
                        <img src="modules/core/img/element/avatar.gif" width="140" height="140">
                    </a>
                    <a class="btn btn-warning" ng-show="!myProfile()" href="mailto:{{profile.email}}?Subject=Hello%20again" target="_top">Email Me</a>
                </div>
            </div>

            <div id="user_info" style="width: 820px; height: 140px; background-color: rgba(60, 60, 60, 0.4); padding-top: 10px;">
                <h2 class="user_name" style="font-family: 'Open Sans', sans-serif; font-weight: 400; margin: 0; color: #fff; letter-spacing: 1.75px;">
                    <span data-ng-bind="profile.firstName"></span>
                    <span data-ng-bind="profile.lastName"></span>
                </h2>

                <ul style="margin:-5 auto; padding:0px; width:140px; float: right;">
                    <li style="margin:0;padding:0;display:inline;">
                        <a href="https://www.facebook.com/" style="margin:0; padding:0;">
                            <img src="modules/core/img/element/facebook.png" style="margin:0;padding:0;position:reletive;width:30px;height:30px;border-radius:50%;transition:.2s ease-out;-moz-transition:.2s ease-out;-webkit-transition:.2s ease-out;">
                        </a>
                    </li>
                    <li style="margin:0;padding:0;display:inline;">
                        <a href="https://twitter.com/" style="margin:0; padding:0;">
                            <img src="modules/core/img/element/twitter.png" style="margin:0;padding:0;position:reletive;width:30px;height:30px;border-radius:50%;transition:.2s ease-out;-moz-transition:.2s ease-out;-webkit-transition:.2s ease-out;">
                        </a>
                    </li>
                    <li style="margin:0;padding:0;display:inline;">

                        <a href="https://www.google.ca/" style="margin:0;padding:0;">
                            <img src="modules/core/img/element/google.png" style="margin:0;padding:0;position:reletive;width:30px;height:30px;border-radius:50%;transition:.2s ease-out;-moz-transition:.2s ease-out;-webkit-transition:.2s ease-out;">
                        </a>
                    </li>
                    <li style="margin:0;padding:0;display:inline;">
                        <a href="https://www.linkedin.com/uas/login" style="margin:0; padding:0;">
                            <img src="modules/core/img/element/linkedin.png" style="margin:0;padding:0;position:reletive;width:30px;height:30px;border-radius:50%;transition:.2s ease-out;-moz-transition:.2s ease-out;-webkit-transition:.2s ease-out;">
                        </a>
                    </li>
                </ul>
                <hr style="border: solid; border-width: 1px; border-color: #0B86C3;">
                <div>
                    <ul id="user_list" style="font-family:'Open Sans', sans-serif;font-weight:200;font-size:14px;color:#fff;padding:0;list-style-type:none;margin:0;float:left;width:30%;">
                        <li style="display: inline; margin-right: 20px; letter-spacing: 1px;">
                            <i class="icon-building info_icon" style="color: #0B86C3; font-size: 18px; padding: 3px;"></i>
                            Web Developer/Desinger
                        </li>
                    </ul>
                <a class="btn btn-primary" href="/#!/settings/profile" style="float:right;width:15%;margin-right:10px" ng-show="myProfile()">Edit Profile</a>
                <a class="btn btn-primary" ng-click="upvote()" ng-hide="liked()">Like!</a>
                <a ng-show="liked()">Liked!</a>
                <a class="btn btn-primary" ng-click="changeFriendStatus()" ng-show="!myProfile() && !alreadyFriends()" style="float:right;width:15%;margin-right:10px">Add Friend</a>
                <a ng-show="alreadyFriends()" class="btn btn-primary" style="float:right;width:15%;margin-right:10px">Friended!</a>
            </div>
            </div>
        </div>
    </div>


    <div id="user_info" style="width: 820px; margin-top: 40px; background: white;margin: 0 auto;">
        <hr style="border: solid; border-width: 3px; border-color: #0B86C3;">
        <div>
            <img src="modules/core/img/element/profile.png" style="width:50px; height:50px">
            <li style="margin:0;padding:0;width:95px;float:left;display:block;padding-left:8px;height:50px;border-right:1px dotted #bbb;text-transform:uppercase;">
                Projects
                <strong style="margin:0;padding:0;color:#434343;display:block;font-size:2.2em;line-height:1.1em;font-weight:bold;" ng-init="result = findArticles()">{{result.length}}</strong>
            </li>
            <li style="margin:0;padding:0;width:95px;float:left;display:block;padding-left:8px;height:50px;border-right:1px dotted #bbb;text-transform:uppercase;">
                Friends
                <strong style="margin:0;padding:0;color:#434343;display:block;font-size:2.2em;line-height:1.1em;font-weight:bold;">{{profile.friends.length}}</strong>
            </li>
            <li style="margin:0;padding:0;border:0px !important;width:95px;float:left;display:block;padding-left:8px;height:50px;border-right:1px dotted #bbb;text-transform:uppercase;">
                Likes
                <strong style="margin:0;padding:0;color:#434343;display:block;font-size:2.2em;line-height:1.1em;font-weight:bold;">{{profile.upvote}}</strong>
            </li>
            <li style="margin:0;padding:0;border:0px !important;width:95px;float:left;display:block;padding-left:8px;height:50px;border-right:1px dotted #bbb;text-transform:uppercase;">
                Members of
                <strong style="margin:0;padding:0;color:#434343;display:block;font-size:2.2em;line-height:1.1em;font-weight:bold;" ng-init="result1 = findAllMember()">{{result1.length}}</strong>
            </li>
            <div style="float: right; float: bottom">
                <button type="submit" class="btn btn-primary">Upload Resume</button>
            </div>
        </div>

        <div>
            <hr style="border: solid; border-width: 1px; border-color: #0B86C3;">
            <header>
                <h2>Background</h2>
            </header>
            <p>
                {{profile.background}}
            </p>

            <div>
                <div id="ly" style="position: absolute; top: 0px; filter: alpha(opacity=30); background-color: #777; z-index: 2; left: 0px; display: none;"></div>
                <!---->
                <div id="Layer2" align="center" style="position: absolute; z-index: 3; left: expression_r((document.body.offsetWidth-540)/2); top: expression_r((document.body.offsetHeight-170)/10); background-color: #fff; display: none;" >
                </div>
            </div>
            <div>
                <hr style="border: solid; border-width: 1px; border-color: #0B86C3;">
                <header>
                    <h2>Specialization</h2>
                </header>
                <p>
                </p>
                <div>
                    <div id="ly" style="position: absolute; top: 0px; filter: alpha(opacity=30); background-color: #777; z-index: 2; left: 0px; display: none;"></div>
                    <div id="Layer2" align="center" style="position: absolute; z-index: 3; left: expression_r((document.body.offsetWidth-540)/2); top: expression_r((document.body.offsetHeight-170)/10); background-color: #fff; display: none;" >
                    </div>
                </div>
            </div>
            <hr style="border: solid; border-width: 3px; border-color: #0B86C3;">
        </div>
    </div>
    <div>
        <a href="/#!/settings/myArticles/{{profile._id}}" class="btn btn-primary" role="button">View Posts</a>
    </div>
    <div>
        <a href="/#!/settings/myApplied/{{profile._id}}" class="btn btn-primary" role="button" ng-show="myProfile()">View Applications</a>
    </div>
    <div>
        <a href="/#!/settings/myMember/{{profile._id}}" class="btn btn-primary" role="button">My Memberships</a>
    </div>
    </div>
</section>