<section data-ng-controller="SettingsController" data-ng-init="findOne()">
    <div id="user_header" class="row" style="width: 820px; height: 150px">
        <div id="user" style="width: 750px; height: 150px; float: left;">
            <div id="user_picture" style="float: left; padding-right: 20px;">
                <div id="picture_box">
                    <a href="">
                        <img src="/views/image/avatar.gif" width="140" height="140">
                        {{profile.email}}
                    </a>
                </div>
            </div>

            <div id="user_info" style="width: 820px; height: 140px; background-color: rgba(60, 60, 60, 0.4); padding-top: 10px;">
                <h2 class="user_name" style="font-family: 'Open Sans', sans-serif; font-weight: 400; margin: 0; color: #fff; letter-spacing: 1.75px;">
                    <span data-ng-bind="profile.firstName"></span>
                    <span data-ng-bind="profile.lastName"></span>
                </h2>

                <ul style="margin:-5 auto; padding:0px; width:140px; float: right;">
                    <li style="margin:0;padding:0;display:inline;">
                        <a href="https://www.facebook.com/" style="margin:0; padding:0;">
                            <img src="/views/image/facebook.png" style="margin:0;padding:0;position:reletive;width:30px;height:30px;border-radius:50%;transition:.2s ease-out;-moz-transition:.2s ease-out;-webkit-transition:.2s ease-out;">
                        </a>
                    </li>
                    <li style="margin:0;padding:0;display:inline;">
                        <a href="https://twitter.com/" style="margin:0; padding:0;">
                            <img src="/views/image/twitter.png" style="margin:0;padding:0;position:reletive;width:30px;height:30px;border-radius:50%;transition:.2s ease-out;-moz-transition:.2s ease-out;-webkit-transition:.2s ease-out;">
                        </a>
                    </li>
                    <li style="margin:0;padding:0;display:inline;">

                        <a href="https://www.google.ca/" style="margin:0;padding:0;">
                            <img src="/views/image/google.png" style="margin:0;padding:0;position:reletive;width:30px;height:30px;border-radius:50%;transition:.2s ease-out;-moz-transition:.2s ease-out;-webkit-transition:.2s ease-out;">
                        </a>
                    </li>
                    <li style="margin:0;padding:0;display:inline;">
                        <a href="https://www.linkedin.com/uas/login" style="margin:0; padding:0;">
                            <img src="/views/image/linkedin.png" style="margin:0;padding:0;position:reletive;width:30px;height:30px;border-radius:50%;transition:.2s ease-out;-moz-transition:.2s ease-out;-webkit-transition:.2s ease-out;">
                        </a>
                    </li>
                </ul>

                <hr style="border: solid; border-width: 1px; border-color: #0B86C3;">
                <ul id="user_list" style="font-family:'Open Sans', sans-serif;font-weight:200;font-size:14px;color:#fff;padding:0;list-style-type:none;margin:0;">
                    <li style="display: inline; margin-right: 20px; letter-spacing: 1px;">
                        <i class="icon-building info_icon" style="color: #0B86C3; font-size: 18px; padding: 3px;"></i>
                        Web Developer/Desinger
                    </li>
                </ul>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Edit Profile</button>
    </div>


    <div id="user_friends" ng-hide="true" style="margin:0;padding:0;display:block;width:220px;float:right; float:top;margin-right:40px;overflow:hidden;">

        <div class="gcontent" style="margin:0;padding:0;display:block;margin-bottom:20px;">
            <div class="head" style="color:#0B86C3;margin:0;padding:0;background:#589fc6;border:1px solid #3e82a7;padding-left:8px;">
                <h1 style="margin:0;padding:0;font-family:Helvetica, Arial, Verdana, sans-serif;color:#fafcfd;font-weight:bold;font-size:1.4em;line-height:2.0em;">
                    Friends List
                </h1>
            </div>

            <div class="boxy" style="margin:0;padding:10px 8px;border-radius:0px 0px 5px 5px;border:1px solid #ccc;border-top:0px;background:white;">
                <p style="align:centre;margin:0;padding:0;font-size:1.2em;line-height:1.4em;font-family:Arial, sans-serif;color:#333;margin-bottom:15px;">Your friends-  <br>   150 total</p>

                <div class="friendslist clearfix" style="margin:0;padding:0;display:block;">

                    <a href="#" style="margin:0;padding:0;color:#3c86b7;text-decoration:none;">
                        <img src="/views/image/avatar.gif" width="30" height="30" alt="Steve" style="margin:0;padding:2px;border:1px solid #ccc;background:#fff;margin-right:4px;">
                    </a>
                <span style="font-size:10px; margin-top:1px">
                  <span class="friendly" style="margin:0;padding:0;font-size:10px;display:block;margin-bottom:7px;position:relative;top:16px;">
                    <a href="#" style="margin:0;padding:0;color:#3c86b7;text-decoration:none;">Steve</a>
                </span>

                <div style="border-top:1px solid #ccc;float:left;height:50px;width:50px;">
                    <a href="#" style="margin:0;padding:0;color:#3c86b7;text-decoration:none;">
                        <img src="/views/image/avatar.gif" width="30" height="30" alt="Steve" style="margin:0;padding:2px;border:1px solid #ccc;float:left;background:#fff;margin-right:4px;">
                    </a>
               <span style="margin:0;padding:0;font-size:10px;display:block;">
                  <a href="#" style="margin:0;padding:0;color:#3c86b7;text-decoration:none;">Steve</a>
               </span>
                </div>
                </div>
            </div>
        </div>
    </div>


    <div id="user_info" style="width: 820px; margin-top: 10px; background: white">
        <hr style="border: solid; border-width: 3px; border-color: #0B86C3;">
        <div>
            <img src="/views/image/profile.png" style="width:50px; height:50px">
            <li style="margin:0;padding:0;width:95px;float:left;display:block;padding-left:8px;height:50px;border-right:1px dotted #bbb;text-transform:uppercase;">
                Projects
                <strong style="margin:0;padding:0;color:#434343;display:block;font-size:2.2em;line-height:1.1em;font-weight:bold;">13</strong>
            </li>
            <li style="margin:0;padding:0;width:95px;float:left;display:block;padding-left:8px;height:50px;border-right:1px dotted #bbb;text-transform:uppercase;">
                Friends
                <strong style="margin:0;padding:0;color:#434343;display:block;font-size:2.2em;line-height:1.1em;font-weight:bold;">150</strong>
            </li>
            <li style="margin:0;padding:0;border:0px !important;width:95px;float:left;display:block;padding-left:8px;height:50px;border-right:1px dotted #bbb;text-transform:uppercase;">
                Member
                <strong style="margin:0;padding:0;color:#434343;display:block;font-size:2.2em;line-height:1.1em;font-weight:bold;">127 </strong>
            </li>
            <div style="float: right; float: bottom">
                <button type="submit" class="btn btn-primary">Upload Resume</button>
            </div>
        </div>

        <div>
            <hr style="border: solid; border-width: 1px; border-color: #0B86C3;">
            <header>
                <h2>Background</h2>
            </header>
            <p>

            </p>

            <div>
                <input type="button" value="Modify" onClick="locking()" />
                <div id="ly" style="position: absolute; top: 0px; filter: alpha(opacity=30); background-color: #777; z-index: 2; left: 0px; display: none;"></div>
                <!---->
                <div id="Layer2" align="center" style="position: absolute; z-index: 3; left: expression_r((document.body.offsetWidth-540)/2); top: expression_r((document.body.offsetHeight-170)/10); background-color: #fff; display: none;" >
                    <table width="800px" height="1000px" border="0" cellpadding="0" cellspacing="0" style="border: 0 solid #e7e3e7; border-collapse: collapse ;" >
                        <tr>
                            <td style="background-color: #73A2d6; color: #fff; padding-left: 2px; padding-top: 2px; font-weight: bold; font-size: 12px;" height="10" valign="middle">
                                <div align="right">
                                    <a href=JavaScript:; class="STYLE1" onclick="Lock_CheckForm(this);">[Close]</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td height="130" align="center"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <hr style="border: solid; border-width: 1px; border-color: #0B86C3;">
                <header>
                    <h2>Specialization</h2>
                </header>
                <p>
                </p>
                <div>
                    <input type="button" value="Modify" onClick="locking()" />
                    <div id="ly" style="position: absolute; top: 0px; filter: alpha(opacity=30); background-color: #777; z-index: 2; left: 0px; display: none;"></div>
                    <!---->
                    <div id="Layer2" align="center" style="position: absolute; z-index: 3; left: expression_r((document.body.offsetWidth-540)/2); top: expression_r((document.body.offsetHeight-170)/10); background-color: #fff; display: none;" >
                        <table width="800px" height="1000px" border="0" cellpadding="0" cellspacing="0" style="border: 0 solid #e7e3e7; border-collapse: collapse ;" >
                            <tr>
                                <td style="background-color: #73A2d6; color: #fff; padding-left: 2px; padding-top: 2px; font-weight: bold; font-size: 12px;" height="10" valign="middle">
                                    <div align="right">
                                        <a href=JavaScript:; class="STYLE1" onclick="Lock_CheckForm(this);">[Close]</a> &nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td height="130" align="center"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <hr style="border: solid; border-width: 3px; border-color: #0B86C3;">
        </div>
    </div>
</section>