<html>
<head>
  <title>Kick-Start-Up</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>
<body ng-app="Kick-Start-Up">
  <nav class="navbar navbar-default" ng-controller="NavCtrl">
    <a class="navbar-brand">
      Kick-Start-Up
    </a>
    <ul class="nav navbar-nav pull-right">
      <li ng-show="isLoggedIn()">
        <a>Signed in as:</a>
      </li>
      <li class="dropdown" ng-show="isLoggedIn()">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <strong>{{currentUser()}}</strong><span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/#/profiles/{{currentUser()}}">Manage Profile</a></li>
          <li><a href="#">Upgrade Account!</a></li>
          <li><a href="/#/reset_password">Reset Password</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" ng-click="logOut()">Sign Out</a></li>
        </ul>
      </li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Sign In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Sign Up</a></li>
      <li>
        <a href="/#/home"><i class="glyphicon glyphicon-home"></i> Home</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <ui-view></ui-view>
  </div>


  <!-- page footer begin -->
  <div id="footer" class="footer" style="font:12pt Georgia;color:#f2f2f2;margin-top:60px;margin-bottom:-150px;clear:both;">
    <div class="sloganWrap" style="position:relative; background:#0B86C3; box-shadow:2px 2px 3px rgba(0,0,0,0.5);">
      <div id="slogan" style="text-align:center;margin:auto;width:500px;letter-space:2px;text-shadow:1px 1px 3px rgba(0,0,0,0.5);line-height:36px;font-size:46px">
        Join us and start your projects here
      </div>
    </div>
    <div class="lookWrap" style="postion:relative;align:center;width:100%;">
      <div id="look" style="margin:auto;width:700px;">

        <div class="section" style="overflow:hidden;float:left;display:inline;width:180px;margin:0  15px 15px 0;font:10px verdana;line-height:1.6em;text-align:center;">
          <h3 style="font-weight:normal;font-size:12pt Georgia;text-transform:uppercase;color:#ABABAB;">About Us</h3>
          <a href='#' style="color:#BEBEBE;text-decoration:none;dispaly:block;">About Website<br></a>
          <a href='#' style="color:#BEBEBE;text-decoration:none;dispaly:block;">Our Team<br></a>
        </div>

        <div class="section" style="overflow:hidden;float:left;display:inline;width:180px;margin:0  15px 15px 0;font:10px verdana;line-height:1.6em;text-align:center;">
          <h3 style="font-weight:normal;font-size:12pt Georgia;text-transform:uppercase;color:#ABABAB;">Support</h3>
          <a href='/#/contact' style="color:#BEBEBE;text-decoration:none;dispaly:block;">Contact Us<br></a>
          <a href='#' style="color:#BEBEBE;text-decoration:none;dispaly:block;">Privacy Policy<br></a>
          <a href='#' style="color:#BEBEBE;text-decoration:none;dispaly:block;">Term of Use</a>
        </div>

        <div class="section" style="overflow:hidden;float:left;display:inline;width:180px;margin:0  15px 15px 0;font:10px verdana;line-height:1.6em;text-align:center;">
          <h3 style="font-weight:normal;font-size:12pt Georgia;text-transform:uppercase;color:#ABABAB;">Follow Us</h3>
          <a href="https://www.facebook.com" style="color:#BEBEBE;text-decoration:none;dispaly:block;"><img src="/views/image/facebook_footer.png" style="width:15px;height:15px;"></img>&nbsp;Facebook<br></a>
          <a href="https://www.twitter.com" style="color:#BEBEBE;text-decoration:none;dispaly:block;"><img src="/views/image/twitter_footer.png" style="width:15px;height:15px;"></img>&nbsp;Twitter<br></a>
          <a href="https://plus.google.com" style="color:#BEBEBE;text-decoration:none;dispaly:block;"><img src="/views/image/google_footer.gif" style="width:15px;height:15px;"></img>&nbsp;Google<br></a>
          <a href="https://www.linkedin.com" style="color:#BEBEBE;text-decoration:none;dispaly:block;"><img src="/views/image/linkedin_footer.png" style="width:15px;height:15px;"></img>&nbsp;Linkedin<br></a>
        </div>
      </div>
    </div>
    <div class="legality" style="margin:auto;width:700px;text-align:center;clear:both;font:10px verdana;line-height:2em;padding:40px 0 0 0;color:#ABABAB;">
      &copy;Copyright 2015 &nbsp; Kick-Start-Up Team. All rights reserved.
    </div>
  </div>
  <!-- page footer end -->
</body>
</html>
