<html>
<head>
  <title>Kick-Start-Up</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
</head>

<body ng-app="Kick-Start-Up">
  <nav class="navbar navbar-default" ng-controller="NavCtrl">
    <a class="navbar-brand">
      Kick-Start-Up
    </a>

    <ul class="nav navbar-nav pull-right">
      <li ng-show="isLoggedIn()">
        <a>Signed in as:</a>
      </li>
      <li class="dropdown" ng-show="isLoggedIn()">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <strong>{{currentUser()}}</strong><span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Manage Profile</a></li>
          <li><a href="#">Upgrade Account!</a></li>
          <li><a href="/#/reset_pass">Reset Password</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" ng-click="logOut()">Sign Out</a></li>
        </ul>
      </li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Sign In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Sign Up</a></li>
      <li>
        <a href="/#/home"><i class="glyphicon glyphicon-home"></i> Home</a>
      </li>
    </ul>
  </nav>
  <div>
    <ui-view></ui-view>
  </div>
</body>
</html>
