<section>
	<div id="contact-container" style="background:#0B86C3;margin:auto;width:800px;margin-bottom:50px;overflow:auto;margin-top:10px;">
	  <div id="contact-wrap" style="font-family: 'Lato', calibri, arial;font-size:16px;font-weight:300;width: 800px;color:#fff;overflow:auto;float:left;">   
			<div id="contact-area" style="margin-left:3px;width: 342px;padding:20px;">
	 			<form method="post">
	 				<input type="text" name="ContactName" id="ContactName" placeholder="Full Name" style="padding:5px;width:342px;font-family: 'Lato', calibri, arial;font-size:14px;font-weight:300;color:#686868;background-color:#f2f2f2;border-top: 1px solid transparent;border-left: 1px solid transparent;border-bottom: 1px solid #fff;border-right: 1px solid transparent;margin-bottom:15px;">
	 				<input type="text" name="ContactCity" id="ContactCity" placeholder="Location" style="padding:5px;width:342px;font-family: 'Lato', calibri, arial;font-size:14px;font-weight:300;color:#686868;background-color:#f2f2f2;border-top: 1px solid transparent;border-left: 1px solid transparent;border-bottom: 1px solid #fff;border-right: 1px solid transparent;margin-bottom:15px;">
	 				<input type="text" name="ContactEmail" id="ContactEmail" placeholder="E-mail" style="padding: 5px;width: 342px;font-family: 'Lato', calibri, arial;font-size:14px;font-weight:300;color:#686868;background-color:#f2f2f2;border-top: 1px solid transparent;border-left: 1px solid transparent;border-bottom: 1px solid #fff;border-right: 1px solid transparent;margin-bottom:15px;">
	 				<input type="text" name="ContactPhone" id="ContactPhone" placeholder="Telephone" style="padding: 5px;width: 342px;font-family: 'Lato', calibri, arial;font-size:14px;font-weight:300;color:#686868;background-color:#f2f2f2;border-top: 1px solid transparent;border-left: 1px solid transparent;border-bottom: 1px solid #fff;border-right: 1px solid transparent;margin-bottom:15px;">

	 				<textarea name="ContactMessage" rows="20" cols="20" id="Message" placeholder="Message" style="padding:5px;width:700px;font-family:'Lato', calibri, arial;font-size:14px;font-weight:300;color:#686868;background-color:#f2f2f2;border-top:1px solid transparent;border-left:1px solid transparent;border-bottom:1px solid #fff;border-right:1px solid transparent;margin-bottom:15px;height:150px;"></textarea>

	 				<button style="padding:5px;width:100px;font-family:'Lato', calibri, arial;font-size:12px;font-weight:300;color:#f2f2f2;background-color:transparent;border-top:1px solid #fff;border-left:1px solid #fff;border-bottom:1px solid #fff;border-right:1px solid #fff;margin-bottom:15px;text-transform:uppercase;float:left;-moz-transition:all 0.1s ease-in-out;-webkit-transition:all 0.1s ease-in-out;-o-transition:all 0.1s ease-in-out;-ms-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;">SUBMIT</button>
				</form>
	        </div>
	    </div>
	</div>


	<div class="cont" style="text-align: center;">
	  <ul class="contact" style="display: inline-block; margin: 0 auto; padding-left: 0;">
	    <li style="text-align:center;display:inline-block;list-style-type:none;margin:0 1em;">
	      <p style="text-align: center;"><i></i></p>
	      <img src="modules/core/img/element/telephone.png" style="width:60px;height:80px"></img>
	      <p style="text-align: center;color:#686868;margin-top:10px;"><strong>Telephone:</strong> (647)-000-0000</p>
	    </li>
	    <li style="text-align:center;display:inline-block;list-style-type:none;margin:0 1em;">
	      <p style="text-align: center;"><i></i></p>
	      <img src="modules/core/img/element/email.png" style="width:60px;height:80px"></img>
	      <p style="text-align: center;color:#686868;margin-top:10px;"><strong>E-mail:</strong> name@utoronto.ca</p>
	    </li>
	    <li style="text-align:center;display:inline-block;list-style-type:none;margin:0 1em;">
	      <p style="text-align: center;"><i></i></p>
	      <img src="modules/core/img/element/location.png" style="width:60px;height:80px"></img>
	      <p style="text-align:center;color:#686868;margin-top:10px;">
	        <strong>Location:</strong> 1265 Military Trail, Toronto, ON. Canada, M1C 1A4
	      </p>
	    </li>
	  </ul>
	</div>
</section>