<section data-ng-controller="HomeController" data-ng-init="search()">
    <div class="container-fluid">
        <h3>
            Result For "{{keyword}}":
        </h3>
        <p>
        </p>
        <div ng-repeat="n in result | filter : postFilter">
            <div class="row">
                <div class="alert alert-success" role="alert">
                    Author: {{n.user.displayName}}
                    Title: {{n.title}}
                    <a href="/#!/articles/{{n._id}}" class="btn btn-primary pull-right" role="button">Details</a>
                </div>
            </div>
        </div>
    </div>
</section>