<section style="box-sizing:border-box;height:90%;">
		<div style="box-sizing: inherit;box-sizing:inherit;max-width:30em;margin:0 auto;">
		    <h1 style="box-sizing:inherit;text-align:left;color:#fff;text-shadow:1px 1px 1px #222;font-weight:200;">
		    	Search Bar
		    </h1>

		    <form action="/#!/" role="search" name="myForm" image-search novalidate style="box-sizing:inherit;position:relative;width:100%;">
		    	<img src="modules/core/img/element/search_icon.png" style="width:30px;height:30px;position:absolute;top:10px;left:10px;"></img>

		      	<input type="text" id="search_text" placeholder="Search for something..." required style="box-sizing:inherit;width:100%;padding:1em 8em 1em 3.7em;border-radius:5px;border:solid 1px rgba(0,0,0,0.3);box-shadow:inset 0px 1px 2px rgba(0,0,0,0.1);">

		      	<button id="search_button" style="position:absolute;top:0;right:0;background:#0B86C3;border:0;color:#fff;padding:0.8em 1em;border-radius:0 7px 7px 0;height:100%;&amp;:hover {background: #0B86C3($brandPrimary,10%)};">Search</button>		  
		    </form>
		</div>
</section>