<section class="row" data-ng-controller="SettingsController">
	
	<div class="col-xs-offset-1 col-xs-12 col-md-offset-4 col-md-2">
			<div class="form-style-10" style="width:450px;padding:10px;margin-top:40px;margin-bottom:30px;margin-right:40px;margin-ledt:20px;background: #FFF;border-radius: 10px;-webkit-border-radius:10px;-moz-border-radius: 10px;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);">
				<form data-ng-submit="changeUserPassword()" class="signin form-horizontal" autocomplete="off">
					<h3 class="col-md-12 text-center" style="color: #0b86c3;margin-bottom:20px;">Change your password</h3>
					<div style="padding: 30px;background: #F8F8F8;border-radius: 6px;margin-bottom: 15px;">
						<div class="form-group">
							<label for="currentPassword" style="color: #0b86c3;">Current Password</label>
							<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
						</div>
						<div class="form-group">
							<label for="newPassword"style="color: #0b86c3;">New Password</label>
							<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
						</div>
						<div class="form-group">
							<label for="verifyPassword"style="color: #0b86c3;">Verify Password</label>
							<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-large btn-primary">Save Password</button>
						</div>
						<div data-ng-show="success" class="text-center text-success">
							<strong>Password Changed Successfully</strong>
						</div>
						<div data-ng-show="error" class="text-center text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</div>
				</form>
			</div>
		</div>
</section>