<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center" style="font-family: 'Open Sans', sans-serif;color: #5c6166;font-weight:900;">
		Sign up using your social accounts
	</h3>
	<div class="col-md-12 text-center">
		<a href="/auth/facebook" class="undecorated-link">
			<img src="/modules/users/img/buttons/facebook.png">
		</a>
		<a href="/auth/twitter" class="undecorated-link">
			<img src="/modules/users/img/buttons/twitter.png">
		</a>
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/google.png">
		</a>
		<a href="/auth/linkedin" class="undecorated-link">
			<img src="/modules/users/img/buttons/linkedin.png">
		</a>
		<a href="/auth/github" class="undecorated-link">
			<img src="/modules/users/img/buttons/github.png">
		</a>
	</div>
	<h3 class="col-md-12 text-center" class="col-md-12 text-center" style="font-family: 'Open Sans', sans-serif;color: #5c6166;font-weight:900;">
		Or with your email
	</h3>

	<div class="row">
		<div class="col-xs-offset-1 col-xs-5 col-md-offset-4 col-md-4">
			<div class="form-style-10" style="width:450px;padding:30px;margin-top:40px;margin-bottom:30px;margin-right:40px;margin-ledt:20px;background: #FFF;border-radius: 10px;-webkit-border-radius:10px;-moz-border-radius: 10px;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);">

				<!-- title and slogan -->
			    <h1 style="background: #0b86c3;padding: 20px 30px 15px 30px;margin: -30px -30px 30px -30px;border-radius: 10px 10px 0 0;-webkit-border-radius: 10px 10px 0 0;-moz-border-radius: 10px 10px 0 0;color: #fff;text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);font: normal 30px 'Bitter', serif;-moz-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);-webkit-box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);box-shadow: inset 0px 2px 2px 0px rgba(255, 255, 255, 0.17);border: 1px solid #257C9E;">
			        Sign Up Now!
			    </h1>

			    <!-- first input set -->
			    <form name="userForm" data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			        <div class="section" style="font: normal 20px 'Bitter', serif;color: #0b86c3;margin-bottom: 5px;">
			            <span style="background: #0b86c3;padding: 5px 10px 5px 10px;position: absolute;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;border: 4px solid #fff;font-size: 14px;margin-left: -45px;color: #fff;margin-top: -3px;">
			                1
			            </span>
			            Full Name &amp; Email Address
			        </div>

			        <!-- first input elements -->
			        <div class="inner-wrap" style="padding: 30px;background: #F8F8F8;border-radius: 6px;margin-bottom: 15px;">
			            <label for="firstName" style="display: block;color: #888;margin-bottom: 15px;">
			                <p style="color:#0b86c3;margin-bottom:3px;">First Name </p>
			                <input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="First Name" style="font: 14px Arial, Helvetica, sans-serif;">
			            </label>

			            <label for="lastName" style="display: block;color: #888;margin-bottom: 15px;">
			                <p style="color:#0b86c3;margin-bottom:3px;">Last Name</p>
			                <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Last Name"style="font: 14px Arial, Helvetica, sans-serif;">
			            </label>

			            <label for="email" style="display: block;color: #888;margin-bottom: 15px;">
			                <p style="color:#0b86c3;margin-bottom:3px;">Email</p>
			                <input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email" style="font: 14px Arial, Helvetica, sans-serif;">
			            </label>
			        </div>
			     


			        <!--  second input set-->
			        <div class="section" style="font: normal 20px 'Bitter', serif;color: #0b86c3;margin-bottom: 5px;">
			            <span style="background: #0b86c3;padding: 5px 10px 5px 10px;position: absolute;border-radius: 50%;-webkit-border-radius: 50%;-moz-border-radius: 50%;border: 4px solid #fff;font-size: 14px;margin-left: -45px;color: #fff;margin-top: -3px;">
			                2
			            </span>
			            Username &amp; Password
			        </div>

			        <!-- second input element -->
			        <div class="inner-wrap" style="padding: 30px;background: #F8F8F8;border-radius: 6px;margin-bottom: 15px;">
			            <label for="username" style="display: block;color: #888;margin-bottom: 15px;">
			                <p style="color:#0b86c3;margin-bottom:3px;">Username</p>
			                <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username" style="font: 14px Arial, Helvetica, sans-serif;">
			            </label>

			            <label style="display: block;color: #888;margin-bottom: 15px;">
			                <p style="color:#0b86c3;margin-bottom:3px;">Password</p>
			                <input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password" style="font: 14px Arial, Helvetica, sans-serif;">
			            </label>

			        </div>

			        <div class="text-center form-group">
	                    <button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
	                    <a href="/#!/signin" class="show-signup">Sign in</a>
	                </div>
	                <div data-ng-show="error" class="text-center text-danger">
	                    <strong data-ng-bind="error"></strong>
	                </div>
			    </form>
			</div>
		</div>
	</div>
</section>