<section data-ng-controller="SettingsController" data-ng-init="findOne()" data-ng-init="findArticles()" style="margin-top:20px;position:relative;">

    <div class="row">
        <div class="col-xs-offset-0 col-xs-12 col-md-offset-2 col-md-8">
            <div id="projecthead" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;box-shadow:0 2px 10px 0px #777777, 0 -1px 0 rgba(255, 255, 255, 0.16) inset;background-color:#0B86C3;border-bottom:1px solid #006186;margin-bottom:1px;padding:0.1em 10%;text-align:center;margin-bottom:10px;margin-top:-10px;width:100%;">
                    <h1 style='-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-size:1.125em;margin-top:0;font-family:"Alfa Slab One", Georgia, serif;color:#fff;font-weight:normal;padding-top:0.23em;margin-bottom:.25em;line-height:0.5em;position:relative;text-shadow:0 -2px 0 #006186;'>
                        <span style="-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;">
                            <span data-ng-bind="profile.firstName"></span>
                            <span data-ng-bind="profile.lastName"></span>
                        </span>
                    </h1>
            </div>

            <div id="user_header" style="width: 100%; height: 150px; margin: 0 auto;">
                <div id="user" style="width: 100%; height: 150px; float: left;">
                    <div id="user_picture" style="float: left; padding-right: 20px;">
                        <div id="picture_box">
                            <a href="">
                                <img src="modules/core/img/element/avatar.gif" width="140" height="140">
                            </a>
                            <a class="btn btn-warning" ng-show="!myProfile()" href="mailto:{{profile.email}}?Subject=Hello%20again" target="_top">Email Me</a>
                        </div>
                    </div>

                    <div id="user_info" style="width: 100%; height: 140px; background-color: rgba(60, 60, 60, 0.4); padding-top: 10px;">
                        <h2 class="user_name" style="font-family: 'Open Sans', sans-serif; font-weight: 400; margin: 0; color: #fff; letter-spacing: 1.75px;">
                            <span data-ng-bind="profile.firstName"></span>
                            <span data-ng-bind="profile.lastName"></span>
                        </h2>

                        <ul style="margin:-5 auto; padding:0px; width:140px; float: right;">
                            <li style="margin:0;padding:0;display:inline;">
                                <a href="https://www.facebook.com/" style="margin:0; padding:0;">
                                    <img src="modules/core/img/element/facebook.png" style="margin:0;padding:0;position:reletive;width:30px;height:30px;border-radius:50%;transition:.2s ease-out;-moz-transition:.2s ease-out;-webkit-transition:.2s ease-out;">
                                </a>
                            </li>
                            <li style="margin:0;padding:0;display:inline;">
                                <a href="https://twitter.com/" style="margin:0; padding:0;">
                                    <img src="modules/core/img/element/twitter.png" style="margin:0;padding:0;position:reletive;width:30px;height:30px;border-radius:50%;transition:.2s ease-out;-moz-transition:.2s ease-out;-webkit-transition:.2s ease-out;">
                                </a>
                            </li>
                            <li style="margin:0;padding:0;display:inline;">

                                <a href="https://www.google.ca/" style="margin:0;padding:0;">
                                    <img src="modules/core/img/element/google.png" style="margin:0;padding:0;position:reletive;width:30px;height:30px;border-radius:50%;transition:.2s ease-out;-moz-transition:.2s ease-out;-webkit-transition:.2s ease-out;">
                                </a>
                            </li>
                            <li style="margin:0;padding:0;display:inline;">
                                <a href="https://www.linkedin.com/uas/login" style="margin:0; padding:0;">
                                    <img src="modules/core/img/element/linkedin.png" style="margin:0;padding:0;position:reletive;width:30px;height:30px;border-radius:50%;transition:.2s ease-out;-moz-transition:.2s ease-out;-webkit-transition:.2s ease-out;">
                                </a>
                            </li>
                        </ul>
                        <hr style="border: solid; border-width: 1px; border-color: #0B86C3;">
                        <div>
                            <ul id="user_list" style="font-family:'Open Sans', sans-serif;font-weight:200;font-size:14px;color:#fff;padding:0;list-style-type:none;margin:0;float:left;width:30%;">
                                <li style="display: inline; margin-right: 20px; letter-spacing: 1px;">
                                    <i class="icon-building info_icon" style="color: #0B86C3; font-size: 18px; padding: 3px;"></i>
                                    {{profile.job}}
                                </li>
                            </ul>
                        <a class="btn btn-primary" href="/#!/settings/profile" style="float:right;width:15%;margin-right:10px" ng-show="myProfile()">Edit Profile</a>
                        <a class="btn btn-primary" ng-click="upvote()" ng-hide="liked()">Like!</a>
                        <a ng-show="liked()">Liked!</a>
                        <a class="btn btn-primary" ng-click="changeFriendStatus()" ng-show="!myProfile() && !alreadyFriends()" style="float:right;width:15%;margin-right:10px">Add Friend</a>
                        <a ng-show="alreadyFriends()" class="btn btn-primary" style="float:right;width:15%;margin-right:10px">Friended!</a>
                    </div>
                    </div>

                </div>
            </div>


            <!-- body -->
            <div id="user_info" style="width: 100%; margin-top: 40px; background: white;margin: 0 auto;">
                <hr style="width:100%;border: solid; border-width: 3px; border-color: #0B86C3;">

                <button ng-click="thumbsup()"style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:8px 0px;font-size:13px;width:19%;text-align:center;flex:0 0 19%;background:#1C3753;" type="button" class="btn btn-primary btn-lg">
                    <img src="modules/core/img/element/friends.png" style="width:30px;height:30px;color:rgb(23, 44, 66);"></img>
                    <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:10px;font-size:18px;color:white;font-family:'Open Sans';">Friends</p>
                    <span style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:60px;background:white;height:2px;display:block;margin:0 auto;"></span>
                    <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;font-size:30px;color:white;font-family:'Open Sans';font-weight:bold;">{{profile.friends.length}}</p>
                    <i style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:middle;font-size:40px;color:rgbawhite;"></i>
                </button>

                <button ng-click="thumbsup()"style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:8px 0px;font-size:13px;width:19%;text-align:center;flex:0 0 19%;background:#1C3753;" type="button" class="btn btn-primary btn-lg">
                        <img src="modules/core/img/element/love.png" style="width:30px;height:30px;color:rgb(23, 44, 66);"></img>
                        <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:10px;font-size:18px;color:white;font-family:'Open Sans';">Likes</p>
                        <span style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:60px;background:white;height:2px;display:block;margin:0 auto;"></span>
                        <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;font-size:30px;color:white;font-family:'Open Sans';font-weight:bold;">{{profile.upvote}}</p>
                        <i style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:middle;font-size:40px;color:rgbawhite;"></i>
                      </button>

                <!-- first -->
                <a href="/#!/settings/myArticles/{{profile._id}}" role="button"  style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:8px 0px;font-size:13px;width:19%;text-align:center;flex:0 0 19%;background:#1C3753;" type="button" class="btn btn-primary btn-lg">
                    <img src="modules/core/img/element/papers.png" style="width:30px;height:30px;color:rgb(23, 44, 66);"></img>
                    <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:10px;font-size:18px;color:white;font-family:'Open Sans';">Posts</p>
                    <span style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:60px;background:white;height:2px;display:block;margin:0 auto;"></span>
                    <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;font-size:30px;color:white;font-family:'Open Sans';font-weight:bold;" ng-init="result = findArticles()">{{result.length}}</p>
                    <i style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:middle;font-size:40px;color:rgbawhite;"></i>
                </a>

                <!-- second -->
                <a href="/#!/settings/myMember/{{profile._id}}" role="button" style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:8px 0px;font-size:13px;width:19%;text-align:center;flex:0 0 19%;background:#1C3753;" type="button" class="btn btn-primary btn-lg">
                    <img src="modules/core/img/element/members.png" style="width:30px;height:30px;color:rgb(23, 44, 66);"></img>
                    <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:10px;font-size:18px;color:white;font-family:'Open Sans';">Members</p>
                    <span style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:60px;background:white;height:2px;display:block;margin:0 auto;"></span>
                    <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;font-size:30px;color:white;font-family:'Open Sans';font-weight:bold;" ng-init="result1 = findAllMember()">{{result1.length}}</p>
                    <i style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:middle;font-size:40px;color:rgbawhite;"></i>
                </a>

                <!-- third -->
                <a href="/#!/settings/myApplied/{{profile._id}}" role="button" ng-show="myProfile()"style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:8px 0px;font-size:13px;width:19%;text-align:center;flex:0 0 19%;background:#1C3753;" type="button" class="btn btn-primary btn-lg">
                    <img src="modules/core/img/element/application.png" style="width:30px;height:30px;color:rgb(23, 44, 66);"></img>
                    <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:10px;font-size:18px;color:white;font-family:'Open Sans';">Applications</p>
                    <span style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:60px;background:white;height:2px;display:block;margin:0 auto;"></span>
                    <p style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;font-size:30px;color:white;font-family:'Open Sans';font-weight:bold;">#</p>
                    <i style="-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:middle;font-size:40px;color:rgbawhite;"></i>
                </a>
                
                <div>
                    <hr style="width:100%;border: solid; border-width: 1px; border-color: #0B86C3;">
                    <header>
                        <h2>Background</h2><img src="modules/core/img/element/profile.png" style="width:50px; height:50px">
                    </header>
                    <p>
                        {{profile.background}}
                    </p>

                    <div>
                        <div id="ly" style="position: absolute; top: 0px; filter: alpha(opacity=30); background-color: #777; z-index: 2; left: 0px; display: none;"></div>
                        <!---->
                        <div id="Layer2" align="center" style="position: absolute; z-index: 3; left: expression_r((document.body.offsetWidth-540)/2); top: expression_r((document.body.offsetHeight-170)/10); background-color: #fff; display: none;" >
                        </div>
                    </div>
                    <div>
                        <hr style="border: solid; border-width: 1px; border-color: #0B86C3;">
                        <header>
                            <h2>Specialization</h2>
                        </header>
                        <p>
                        </p>
                        <div>
                            <div id="ly" style="position: absolute; top: 0px; filter: alpha(opacity=30); background-color: #777; z-index: 2; left: 0px; display: none;"></div>
                            <div id="Layer2" align="center" style="position: absolute; z-index: 3; left: expression_r((document.body.offsetWidth-540)/2); top: expression_r((document.body.offsetHeight-170)/10); background-color: #fff; display: none;" >
                            </div>
                        </div>
                    </div>
                    <hr style="border: solid; border-width: 3px; border-color: #0B86C3;">
                </div>
            </div>
        </div>
    </div>
</section>