<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <script>
    function    locking(){
    document.all.ly.style.display="block";
    document.all.ly.style.width=document.body.clientWidth;
    document.all.ly.style.height=document.body.clientHeight;
    document.all.Layer2.style.display='block';
    }
    function    Lock_CheckForm(theForm){
    document.all.ly.style.display='none';document.all.Layer2.style.display='none';
    return   false;
    }
  </script>
  <style type="text/css">
    <!--
    .STYLE1 {font-size: 12px}
    a:link {
    color: #FFFFFF;
    text-decoration: none;
    }
    a:visited {
    text-decoration: none;
    }
    a:hover {
    text-decoration: none;
    }
    a:active {
    text-decoration: none;
    }
    -->
  </style>
  <title>Profile Page</title>
  </head>

  <body background="image/g1.png">

    <div id="user_header" style="width: 820px; height: 150px; margin: auto; padding: 10px; background: image/g2.png; padding: 10px; margin-left: 200px">

      <div id="user" class="animated fadeInDown" style="width: 750px; height: 150px; float: left;">
     
        <div id="user_picture" style="float: left; padding-right: 20px;">
          <div id="picture_box">
            <a href="">
              <img src="image/avatar.gif" style="width:150px; height:150px">
            </a>
          </div>
        </div>

        <div id="user_info" style="width: 820px; height: 140px; background-color: rgba(60, 60, 60, 0.4); padding-top: 10px;">
          <h2 class="user_name" style="font-family: 'Open Sans', sans-serif; font-weight: 400; margin: 0; color: #fff; letter-spacing: 1.75px;">
            Deryk Chen
          </h2>

          <ul style="margin:-5 auto; padding:0px; width:140px; float: right">
                <li style="margin:0;padding:0;display:inline;">
                  <a href="" style="margin:0; padding:0;">
                    <img src="image/facebook.png" style="margin:0;padding:0;position:reletive;width:30px;height:30px;border-radius:50%;transition:.2s ease-out;-moz-transition:.2s ease-out;-webkit-transition:.2s ease-out;">
                  </a>
                </li>
                <li style="margin:0;padding:0;display:inline;">
                  <a href="" style="margin:0; padding:0;">
                    <img src="image/twitter.png" style="margin:0;padding:0;position:reletive;width:30px;height:30px;border-radius:50%;transition:.2s ease-out;-moz-transition:.2s ease-out;-webkit-transition:.2s ease-out;">
                  </a>
                </li>
                <li style="margin:0;padding:0;display:inline;">
                  <a href="" style="margin:0;padding:0;">
                    <img src="image/google.png" style="margin:0;padding:0;position:reletive;width:30px;height:30px;border-radius:50%;transition:.2s ease-out;-moz-transition:.2s ease-out;-webkit-transition:.2s ease-out;">
                  </a>
                </li>
                <li style="margin:0;padding:0;display:inline;">
                  <a href="" style="margin:0; padding:0;">
                    <img src="image/linkedin.png" style="margin:0;padding:0;position:reletive;width:30px;height:30px;border-radius:50%;transition:.2s ease-out;-moz-transition:.2s ease-out;-webkit-transition:.2s ease-out;">
                  </a>
                </li>
          </ul>

          <hr style="border: solid; border-width: 1px; border-color: #0B86C3;">
          <ul id="user_list" style="font-family:'Open Sans', sans-serif;font-weight:200;font-size:14px;color:#fff;padding:0;list-style-type:none;margin:0;">
            <li style="display: inline; margin-right: 20px; letter-spacing: 1px;">
              <i class="icon-building info_icon" style="color: #0B86C3; font-size: 18px; padding: 3px;"></i> 
              Web Developer/Desinger
            </li>
          </ul>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Edit Profile</button>
    </div>

    <div class="bio-info col-md-5">
        <div class="content-info" style="background: #fff; margin: auto; width: 220px; padding: 10px; border-radius: 4px; float: right; float: top">
  

          <button type="submit" class="btn btn-primary">Edit Profile</button>
        </div>  
      </div>

      <div id="user_info" style="width: 820px; margin-top: 10px; background: white; margin-left: 210px">
          <hr style="border: solid; border-width: 3px; border-color: #0B86C3;">
          <div>
            <img src="image/profile.png" style="width:50px; height:50px">
            <li style="margin:0;padding:0;width:95px;float:left;display:block;padding-left:8px;height:50px;border-right:1px dotted #bbb;text-transform:uppercase;">
              Projects
              <strong style="margin:0;padding:0;color:#434343;display:block;font-size:2.2em;line-height:1.1em;font-weight:bold;">13</strong>
            </li>
            <li style="margin:0;padding:0;width:95px;float:left;display:block;padding-left:8px;height:50px;border-right:1px dotted #bbb;text-transform:uppercase;">
              Friends
              <strong style="margin:0;padding:0;color:#434343;display:block;font-size:2.2em;line-height:1.1em;font-weight:bold;">150</strong>
            </li>
            <li class="nobrdr" style="margin:0;padding:0;border:0px !important;width:95px;float:left;display:block;padding-left:8px;height:50px;border-right:1px dotted #bbb;text-transform:uppercase;">
              Days Out
              <strong style="margin:0;padding:0;color:#434343;display:block;font-size:2.2em;line-height:1.1em;font-weight:bold;">127</strong>
            </li>
            <div style="float: right; float: bottom">
            <button type="submit" class="btn btn-primary">Upload Resume</button>
            </div>
          </div>

            <div>
              <hr style="border: solid; border-width: 1px; border-color: #0B86C3;">
              <header>
                <h2>Background</h2>
              </header>
              <p>

              </p>

              <div>
                <input type="button" value="Modify" onClick="locking()" />
                <div id="ly" style="position: absolute; top: 0px; filter: alpha(opacity=30); background-color: #777; z-index: 2; left: 0px; display: none;"></div>
                <!---->
                <div id="Layer2" align="center" style="position: absolute; z-index: 3; left: expression_r((document.body.offsetWidth-540)/2); top: expression_r((document.body.offsetHeight-170)/10); background-color: #fff; display: none;" >
                  <table width="800px" height="1000px" border="0" cellpadding="0" cellspacing="0" style="border: 0 solid #e7e3e7; border-collapse: collapse ;" >
                    <tr>
                      <td style="background-color: #73A2d6; color: #fff; padding-left: 2px; padding-top: 2px; font-weight: bold; font-size: 12px;" height="10" valign="middle">
                        <div align="right">
                          <a href=JavaScript:; class="STYLE1" onclick="Lock_CheckForm(this);">[Close]</a> &nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td height="130" align="center"></td>
                    </tr>
                  </table>
                </div>
              </div>
            <div>
              <hr style="border: solid; border-width: 1px; border-color: #0B86C3;">
              <header>
                <h2>Specialisation</h2>
              </header>
              <p>

              </p>
              <div>
                  <input type="button" value="Modify" onClick="locking()" />
                  <div id="ly" style="position: absolute; top: 0px; filter: alpha(opacity=30); background-color: #777; z-index: 2; left: 0px; display: none;"></div>
                  <!---->
                  <div id="Layer2" align="center" style="position: absolute; z-index: 3; left: expression_r((document.body.offsetWidth-540)/2); top: expression_r((document.body.offsetHeight-170)/10); background-color: #fff; display: none;" >
                    <table width="800px" height="1000px" border="0" cellpadding="0" cellspacing="0" style="border: 0 solid #e7e3e7; border-collapse: collapse ;" >
                      <tr>
                        <td style="background-color: #73A2d6; color: #fff; padding-left: 2px; padding-top: 2px; font-weight: bold; font-size: 12px;" height="10" valign="middle">
                          <div align="right">
                            <a href=JavaScript:; class="STYLE1" onclick="Lock_CheckForm(this);">[Close]</a> &nbsp;&nbsp;&nbsp;&nbsp;
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td height="130" align="center"></td>
                      </tr>
                    </table>
                  </div>
              </div>
            </div>
          <hr style="border: solid; border-width: 3px; border-color: #0B86C3;">
        </div>
      </div>
  </body>
</html>