<section>
    <div class="page-header">
      <h3>
        <span>
          {{post.title}}
        </span>
      </h3>
    </div>
    <div>
      Description : {{post.body}}
    </div>
    <div>
      Date Begin: {{post.dateStart}}
    </div>
    <div>
      Date End: {{post.dateEnd}}
    </div>
    <div>
      By : {{post.author}}
    </div>
    <span ng-show="rightOwner()">
      <h3>Applicants</h3>
    </span>
    <div ng-repeat="comment in post.comments ">
      <span style="font-size:20px; margin-left:10px;" ng-show="rightOwner()">
        <a href="#/profile/{{comment.author}}">{{comment.author}}</a>
      </span>
    </div>
    <span ng-show="isLoggedIn()">
      <span ng-hide="rightOwner()">
        <form ng-submit="addComment()"
          style="margin-top:30px;" ng-hide="applyedAlready()">
          <h3>Apply for job</h3>
          <button type="submit" class="btn btn-primary">Post</button>
        </form>
      </span>
    </span>
    <div ng-show="applyedAlready()">
      <h3>You have already Applied for this position</h3>
    </div>
    <div ng-hide="isLoggedIn()">
      <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
    </div>
  </section>